@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Oleo+Script:wght@400;700&display=swap");
/*Variables & Mixins*/
/*General Stylings*/
body {
  font-family: 'Manrope', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*TOP-NAV*/
#top-nav .container-fluid {
  padding: 0;
}

#top-nav .navbar-dark {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

#top-nav .navbar-brand {
  margin: 0;
}

#top-nav .navbar-nav {
  margin: 0 auto;
}

#top-nav .navbar-nav .nav-link {
  color: white;
  padding: 10px 30px;
  text-align: center;
}

#top-nav .navbar-nav .nav-link:hover {
  color: grey;
}

#top-nav .navbar-nav .active {
  color: white;
  font-weight: bold;
  border-bottom: 2px solid white;
}

#top-nav .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  padding: 0;
  top: 160%;
  border-radius: 0;
}

#top-nav .dropdown-menu .dropdown-item {
  color: white;
  text-align: center;
  font-size: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
}

#top-nav .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  color: grey;
}

#top-nav form p {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

#top-nav form .form-control {
  background: transparent;
  padding: 3px 10px;
  border-radius: 5px;
}

#top-nav form input {
  color: white;
  font-size: 10px;
}

#top-nav form .btn {
  position: absolute;
  color: white;
  font-size: 10px;
  right: 20px;
  border: 0;
}

/*SIDENAV*/
#sidenav {
  position: fixed;
  top: 55%;
  right: 30px;
  z-index: 999;
}

/*FOOTER*/
#footer {
  background-color: #4b4b4b;
  font-size: 13px;
  margin-top: 50px;
}

#footer .footer-title {
  margin-bottom: 20px 0;
  font-weight: bold;
}

#footer a {
  display: block;
  text-decoration: none;
  color: white;
}

#footer a:hover {
  color: grey;
}

#footer p {
  margin: 5px 0;
  font-size: 12px;
}

#footer .footer-section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
  padding-bottom: 20px;
}

#footer .footer-socialmedia a {
  margin-left: 20px;
  display: inline-block;
}

#footer #footer-logo-section {
  position: relative;
}

#footer #footer-logo-section img {
  position: absolute;
  top: -40px;
  left: 30%;
}

#footer #copyright {
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.3);
}

/*Breadcrumb Nav*/
.breadcrumb-nav {
  margin-top: 130px;
  font-size: 11px;
}

.breadcrumb-nav a {
  color: black;
  text-decoration: none;
}

/*Homepage */
.jumbotron {
  background-image: url("../images/hero-image.jpeg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.jumbotron .container {
  position: absolute;
  top: 70%;
}

.jumbotron .container h1 {
  font-family: 'Oleo Script', cursive;
  font-weight: bold;
  color: #532301;
  font-size: 5rem;
  margin: 0;
  padding: 10px 0;
  background-color: grey;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7019A6), to(#FCD9E1));
  background-image: linear-gradient(#7019A6, #FCD9E1);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.jumbotron .container p {
  width: 40vw;
  margin: 0;
  line-height: 1.5rem;
  color: #532301;
}

#home-highlight h2 {
  font-family: 'Oleo Script', cursive;
  font-weight: bold;
  color: #532301;
}

#home-highlight #order {
  border-bottom: 3px solid;
  -o-border-image: linear-gradient(to right, #FD8C73, #CF0BD3);
     border-image: -webkit-gradient(linear, left top, right top, from(#FD8C73), to(#CF0BD3));
     border-image: linear-gradient(to right, #FD8C73, #CF0BD3);
  border-image-slice: 1;
}

#home-highlight #aboutus {
  border-bottom: 3px solid;
  -o-border-image: linear-gradient(to right, #640ABE, #FF9F59);
     border-image: -webkit-gradient(linear, left top, right top, from(#640ABE), to(#FF9F59));
     border-image: linear-gradient(to right, #640ABE, #FF9F59);
  border-image-slice: 1;
}

#home-highlight img {
  width: 100%;
  border-radius: 20px;
}

#home-highlight a {
  background-image: linear-gradient(45deg, #D39BFF, #9206FF);
  color: white;
  border: none;
  margin-top: 10px;
  padding: 5px 50px;
  border-radius: 10px;
  text-decoration: none;
  padding: 5px 20px;
  float: right;
}

#home-highlight a:hover {
  text-decoration: underline;
}

#home-gallery {
  background-color: #FBF6FF;
  position: relative;
  z-index: -2;
}

#home-gallery h2 {
  font-family: 'Oleo Script', cursive;
  font-weight: bold;
  color: #532301;
  font-size: 50px;
  position: absolute;
  top: -30px;
}

#home-gallery #notsure {
  position: absolute;
  top: -20px;
  left: 0;
  text-align: center;
  width: 100%;
}

#home-gallery #home-gallery-vector-tl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home-gallery #home-gallery-vector-br {
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 120px;
  z-index: -1;
}

/*Menu*/
.main-menu .menu-bestseller {
  font-family: 'Oleo Script', cursive;
  font-weight: bold;
  color: #532301;
  border-bottom: 3px solid;
  -o-border-image: linear-gradient(to right, #FD8C73, #CF0BD3);
     border-image: -webkit-gradient(linear, left top, right top, from(#FD8C73), to(#CF0BD3));
     border-image: linear-gradient(to right, #FD8C73, #CF0BD3);
  border-image-slice: 1;
}

.main-menu .menu-other {
  font-family: 'Oleo Script', cursive;
  font-weight: bold;
  color: #532301;
  border-bottom: 3px solid;
  -o-border-image: linear-gradient(to right, #640ABE, #FF9F59);
     border-image: -webkit-gradient(linear, left top, right top, from(#640ABE), to(#FF9F59));
     border-image: linear-gradient(to right, #640ABE, #FF9F59);
  border-image-slice: 1;
}

.main-menu img {
  width: 80%;
  border-radius: 10px;
  text-align: center;
}

.main-menu .col-margin {
  margin: 40px 0;
  text-align: center;
}

.main-menu .fa-droplet {
  background-color: grey;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7019A6), to(#F29E38));
  background-image: linear-gradient(#7019A6, #F29E38);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.main-menu .product-description {
  width: 80%;
  text-align: left;
  margin: 0 auto;
}

.main-menu .product-description h3 {
  font-size: 23px;
  font-weight: bold;
  padding: 5px 0;
}

.main-menu .product-description p {
  font-size: 13px;
  margin: 2px;
}

/*FAQ*/
#faq-main h1 {
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  color: #532301;
  position: absolute;
  top: -30px;
  left: 5%;
  font-size: 48px;
}

#faq-main .container {
  position: relative;
  background-color: #FBF6FF;
  border-radius: 20px;
  padding: 30px 0;
  margin: 50px auto;
}

#faq-main .container .row {
  width: 90%;
  margin: 40px auto;
}

#faq-main .container .row .faq-title {
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  color: #532301;
  border-bottom: 3px solid;
  -o-border-image: linear-gradient(to right, #FD8C73, #CF0BD3);
     border-image: -webkit-gradient(linear, left top, right top, from(#FD8C73), to(#CF0BD3));
     border-image: linear-gradient(to right, #FD8C73, #CF0BD3);
  border-image-slice: 1;
  font-size: 24px;
  margin-bottom: 20px;
}

#faq-main .container .row .faq-qa {
  font-size: 18px;
}

#faq-main .container .row .faq-answer {
  margin-top: 20px;
}

#faq-main .container .row .faq-answer .faq-subanswer {
  display: block;
  padding: 0 30px;
}

#faq-main .container .row hr {
  margin: 10px;
}

#faq-main .container #faq-helplink {
  margin: 0 auto;
}

#faq-main .container #faq-helplink a {
  color: #7D01a9;
  text-decoration: none;
}

#faq-main .container #faq-helplink a:hover {
  text-decoration: underline;
}

#faq-main .container #faq-vector {
  position: absolute;
  bottom: 10%;
  right: -5%;
}

/*ABOUT - PARTNERS*/
#partners-main h1 {
  font-family: 'Oleo Script', cursive;
  font-weight: bold;
  color: #532301;
  font-size: 48px;
}

#partners-main .row {
  background: #FBF6FF;
  border-radius: 20px;
  padding: 30px 0;
  position: relative;
}

#partners-main h2 {
  position: absolute;
}

#partners-main .partner-photo-section {
  position: relative;
}

#partners-main .partner-odd-row h2 {
  top: -20px;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  color: #532301;
  -o-border-image: linear-gradient(to bottom, #CF0BD3, #FD8C73);
     border-image: -webkit-gradient(linear, left top, left bottom, from(#CF0BD3), to(#FD8C73));
     border-image: linear-gradient(to bottom, #CF0BD3, #FD8C73);
  border-image-slice: 1;
  border-left: 3px solid;
}

#partners-main .partner-odd-row #partner-photo3 {
  float: right;
}

#partners-main .partner-odd-row #partner-photo2 {
  position: absolute;
  bottom: -20px;
  left: -200px;
}

#partners-main .partner-even-row h2 {
  top: -20px;
  width: auto;
  right: 0;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  color: #532301;
  -o-border-image: linear-gradient(to bottom, #CF0BD3, #FD8C73);
     border-image: -webkit-gradient(linear, left top, left bottom, from(#CF0BD3), to(#FD8C73));
     border-image: linear-gradient(to bottom, #CF0BD3, #FD8C73);
  border-image-slice: 1;
  border-left: 3px solid;
}

#partners-main .partner-even-row #partner-alcohol-photo3 {
  position: absolute;
  bottom: 10px;
  left: 200px;
}

#partners-main .alcohol-type {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#partners-main ul {
  margin: 0;
}

/*ABOUT - HISTORY*/
#history-main .row {
  margin-bottom: 10%;
}

#history-main #media-container {
  position: relative;
}

#history-main #media-container img {
  position: absolute;
  bottom: -5px;
  left: -10px;
  z-index: 999;
}

#history-main .media {
  border-radius: 10px;
  width: 100%;
}

#history-main #description {
  background-color: #FBF6FF;
  padding: 50px 40px;
  border-radius: 10px;
  position: relative;
}

#history-main #description h2 {
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  color: #532301;
  -o-border-image: linear-gradient(to bottom, #CF0BD3, #FD8C73);
     border-image: -webkit-gradient(linear, left top, left bottom, from(#CF0BD3), to(#FD8C73));
     border-image: linear-gradient(to bottom, #CF0BD3, #FD8C73);
  border-image-slice: 1;
  border-left: 3px solid;
  position: absolute;
  top: -20px;
  padding: 0px 10px;
}

#history-main #description p {
  line-height: 25px;
  font-size: 12px;
  padding: 0;
}

/*ABOUT - CAREER*/
#career-main {
  margin-top: 50px;
}

#career-main .content {
  background-color: #FBF6FF;
  padding: 30px;
  margin-bottom: 50px;
  border-radius: 10px;
  position: relative;
}

#career-main .content h2 {
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  color: #532301;
  position: absolute;
  top: -25px;
}

#career-main #career-form label {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
}

#career-main #career-form input, #career-main #career-form textarea {
  border-radius: 10px;
  border: 1px solid black;
  padding: 2px 8px;
}

#career-main #career-form input::-webkit-input-placeholder, #career-main #career-form textarea::-webkit-input-placeholder {
  font-size: 12px;
  color: #CCCCCC;
}

#career-main #career-form input:-ms-input-placeholder, #career-main #career-form textarea:-ms-input-placeholder {
  font-size: 12px;
  color: #CCCCCC;
}

#career-main #career-form input::-ms-input-placeholder, #career-main #career-form textarea::-ms-input-placeholder {
  font-size: 12px;
  color: #CCCCCC;
}

#career-main #career-form input::placeholder, #career-main #career-form textarea::placeholder {
  font-size: 12px;
  color: #CCCCCC;
}

#career-main #career-form #resume {
  border: none;
}

#career-main #career-form textarea {
  width: 100%;
}

#career-main #career-form #submit-btn {
  float: right;
  background-image: linear-gradient(45deg, #D39BFF, #9206FF);
  color: white;
  border: none;
  margin-top: 10px;
  padding: 5px 50px;
}

/*Ride Service*/
#rideservice-main h1 {
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  color: #532301;
}

#rideservice-main h2 {
  font-family: 'Oleo Script', cursive;
  font-weight: bold;
  color: #532301;
  color: black;
  font-size: 18px;
}

#rideservice-main p {
  font-size: 15px;
}

#rideservice-main #taxi-img {
  text-align: center;
}

#rideservice-main #taxi-img img {
  width: 80%;
  border-radius: 20px;
  margin-bottom: 50px;
}

#rideservice-main #taxi-img #getride-btn {
  background-image: linear-gradient(45deg, #D39BFF, #9206FF);
  color: white;
  border: none;
  margin-top: 10px;
  padding: 5px 50px;
  border-radius: 10px;
  text-decoration: none;
}

#rideservice-main #taxi-img #getride-btn:hover {
  background-image: linear-gradient(45deg, #9206FF, #D39BFF);
  text-decoration: underline;
}

#rideservice-main #reward-points a {
  color: #7d01a9;
}

#rideservice-main #reward-points a:hover {
  color: #D39BFF;
}

.rideservice-vector {
  position: absolute;
  z-index: -1;
}

#rideservice-tr-vector {
  top: 0;
  right: 0;
}

#rideservice-bl-vector {
  bottom: 0;
  left: 0;
}

/*ORDER*/
#order-selection {
  position: fixed;
  font-size: 12px;
  top: 50%;
  left: 10px;
  font-weight: bold;
}

#order-selection input[name="order_selection"] {
  accent-color: #9206FF;
}

.price {
  text-align: right;
}

#carticon {
  position: fixed;
  top: 45%;
  right: 27px;
  z-index: 999;
}

.addtocart-btn {
  background-image: linear-gradient(45deg, #D39BFF, #9206FF);
  color: white;
  border: none;
  margin-top: 10px;
  padding: 5px 50px;
  padding: 5px 20px;
  font-size: 12px;
  text-decoration: none;
  border-radius: 15px;
  float: right;
}

.addtocart-btn:hover {
  text-decoration: underline;
  color: white;
}

.alcholic-price {
  float: right;
}

/*RESERVATION*/
#reservation-main {
  padding: 80px 0;
}

#reservation-main #reservation-calendar {
  text-align: center;
  padding: 0;
}

#reservation-main #reservation-calendar h2 {
  text-align: center;
  font-family: 'Oleo Script', cursive;
  font-weight: bold;
  color: #532301;
}

#reservation-main #reservation-calendar .table > :not(caption) > * > * {
  padding: 1.3rem 1rem;
}

#reservation-main #reservation-calendar .past-date {
  color: #acacac;
}

#reservation-main #reservation-calendar .active-date {
  background-color: #532301;
  color: white;
  margin: 0 auto;
  width: 25px;
  border-radius: 50%;
}

#reservation-main #reservation-info .reservation-info-section {
  margin-top: 10px;
}

#reservation-main #reservation-info .reservation-info-section h3 {
  font-size: 18px;
  font-weight: bold;
}

#reservation-main #reservation-info .reservation-info-section input {
  border: 1px solid black;
  border-radius: 5px;
}

#reservation-main #reservation-info .reservation-info-section .col-12 {
  margin-bottom: 10px;
}

#reservation-main #reservation-info #reserve-btn {
  background-image: linear-gradient(45deg, #D39BFF, #9206FF);
  color: white;
  border: none;
  margin-top: 10px;
  padding: 5px 50px;
  border-radius: 10px;
  float: right;
}

#reservation-main #reservation-info #reserve-btn:hover {
  text-decoration: underline;
}

#reservation-main #reservation-timeslot .col-4 {
  margin-bottom: 10px;
  padding: 0;
}

#reservation-main #reservation-timeslot .col-4 p {
  border: 1px solid #532301;
  border-radius: 10px;
  margin: 0 auto;
  width: 80px;
  text-align: center;
}

#reservation-main #reservation-timeslot .col-4 p:hover {
  background-color: #532301;
  color: white;
  cursor: pointer;
}

/*Media Queries*/
@media only screen and (max-width: 1200px) {
  .partner-photo-section, #partner-alcohol-photo2, #partner-alcohol-photo3 {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .jumbotron .container {
    top: 40%;
  }
  .jumbotron .container p {
    width: 90vw;
  }
  #notsure {
    display: none;
  }
  .dropdown-menu {
    background-color: transparent !important;
  }
  #faq-vector {
    display: none;
  }
}

@media only screen and (max-width: 678px) {
  #order-selection {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  #footer {
    text-align: center;
  }
  #home-highlight {
    text-align: center;
  }
  #home-highlight a {
    float: inherit;
  }
  #home-highlight img {
    width: 60%;
  }
}

@media only screen and (max-width: 468px) {
  .jumbotron .container {
    top: 30%;
  }
  .jumbotron .container p {
    width: 90vw;
  }
  #footer {
    text-align: center;
  }
  #history-main #description {
    padding: 30px 20px;
  }
  #sidenav {
    display: none;
  }
  #carticon {
    right: 0px;
  }
}
/*# sourceMappingURL=style.css.map */